/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 */
@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 *
 * See: https://github.com/laravel-frontend-presets/tall/issues/7
 */
 input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */

input[type="radio"] {
    @apply h-4 w-4 border-gray-300 text-primary-600 focus:ring-primary-600;
}

.my-input {
    @apply px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:ring-primary-600 focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5;
}

.my-label {
    @apply text-sm font-medium leading-6 text-gray-900;
}

.my-select {
    @apply rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-primary-600 sm:text-sm sm:leading-6;
}

.my-textarea {
    @apply rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6;
}

.btn {
    @apply inline-flex items-center py-1.5 px-3 text-base font-bold tracking-wide rounded-md border-t border-l border-4 border-black transition-all duration-300 ease-in-out;
}

.btn-lg {
    @apply py-2.5 px-5 text-lg;
}

.btn-xl {
    @apply py-3 px-6 text-xl;
}

.btn-primary {
    @apply bg-primary-500 hover:bg-white text-white hover:text-black
}

.btn-primary-light {
    @apply bg-primary-100 hover:bg-primary-200 text-primary-700;
}

.btn-primary-outline {
    @apply border border-primary-400 text-primary-700 hover:bg-primary-100 hover:border-primary-500;
}

.btn-secondary {
    @apply bg-secondary-300 hover:bg-white text-black;
}

.container {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
}

.input-error-msg {
    @apply mt-2 text-sm text-red-600;
}

.form-input-error {
    @apply border-red-300 text-red-900 placeholder-red-300 focus:border-red-300 focus:ring-red-500;
}

.tab {
    @apply flex whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium;
}

.tab-current {
    @apply border-primary-500 text-primary-600;
}

.tab-default {
    @apply border-transparent text-gray-500 hover:border-gray-200 hover:text-gray-700;
}

.tab-badge {
    @apply ml-3 hidden rounded-full py-0.5 px-2.5 text-xs font-medium md:inline-block;
}

.tab-badge-current {
    @apply bg-primary-100 text-primary-600;
}

.tab-badge-default {
    @apply bg-gray-100 text-gray-900;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */

[x-cloak] {
    display: none;
}

.emoji-info-list {
    li {
        @apply flex items-center gap-2;
    };

    dt {
        @apply text-3xl;
    }

    dd {
        @apply flex flex-col;
    }
}

#testimonial-container {

    .testimonial {
        opacity: 0;
        transition: opacity 1s ease-in-out;
        @apply absolute top-0 flex flex-col md:flex-row items-center gap-8 text-center md:text-left;

        figcaption {
            @apply mb-4 flex flex-col;
        }

        blockquote {
            @apply text-primary-700 italic text-xl md:text-4xl;
        }

        &.show {
            opacity: 1;
        }
    }
}
